<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Web Page</title>
    <link rel="stylesheet" href="../home.css">
  </head>
  <body>
      <h1>Home</h1>
      <div class="boxes">
        <div class="row">
        <a href="page6.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <p>Register</p>
              <br />
              <p>Product</p>
            </div>
          </div>
        </a>
        <a href="page6.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <p>Remove</p>
              <br />
              <p>Product</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="page6.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <p>Edit</p>
              <br />
              <p>Product</p>
            </div>
          </div>
        </a>
        <a href="page6.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <p>Edit</p>
              <br />
              <p>Product</p>
            </div>
          </div>
        </a>
      </div>
      </div>
      <div class="sidebar">
      </div>
  </body>
</html>
