<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section>
        <!--do a buttons index where each button is located below the other in the left side of the page with 6 buttons
        each button will be a link to a different page -->
        <form action="index.php" method="post">
            <input type="submit" name="button1" value="Button 1" />
            <input type="submit" name="button2" value="Button 2" />
            <input type="submit" name="button3" value="Button 3" />
            <input type="submit" name="button4" value="Button 4" />
            <input type="submit" name="button5" value="Button 5" />
            <input type="submit" name="button6" value="Button 6" />
        </form>

        
        
    </section>
</body>
</html>