<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Web Page</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="sidebar">
      <a href="Home.html">Home</a>
      <a href="Products.html">Products</a>
      <a href="Suppliers.html" class="white-link">Suppliers</a>
      <a href="Clients.html">Clients</a>
      <a href="Orders.html">Orders</a>
    </div>
    <div class="content">
      <h1>Suppliers</h1>
      <div class="boxes">
        <a href="AddSupplier.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <img src="../../icons/add.png" />
              <p>Add</p>
              <p>Supplier</p>
            </div>
          </div>
        </a>
        <a href="page6.html" class="box-link">
          <div class="box">
            <div class="box-text">
              <img src="../../icons/garbage.png" />
              <p>Remove</p>
              <p>Supplier</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
